.auth-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.auth-left {
  flex: 1;
  overflow: hidden;
}

.bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.auth-right {
  width: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.auth-card {
  width: 320px;
  text-align: center;
}

.logo {
  width: 160px;
  margin-bottom: 10px;
}

.subtitle {
  color: #777;
  font-size: 13px;
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 20px;
  border: 1px solid #cfd8ff;
  outline: none;
}

.row {
  display: flex;
  gap: 8px;
}

.phone-input {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid #cfd8ff;
  border-radius: 20px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.phone-input input {
  border: none;
}

.phone-input img {
  width: 22px;
}

.captcha-box {
  margin: 10px 0;
  text-align: left;
}

.primary-btn {
  width: 100%;
  background: #28c76f;
  color: white;
  padding: 10px;
  border-radius: 20px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

.divider {
  margin: 12px 0;
  color: #999;
  font-size: 12px;
}

.google-btn {
  width: 100%;
  border: 1px solid #ddd;
  background: white;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
}

.google-btn img {
  width: 16px;
}

.switch-text {
  margin-top: 12px;
  font-size: 13px;
}

.switch-text span {
  color: #28c76f;
  cursor: pointer;
}
